<!DOCTYPE html>
<html>
<head>
  <meta content="width=device-width,initial-scale=1.0" name="viewport">
  <title>Ursusnumerus</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag :modernizr %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
</head>
<body>

<%= yield %>

</body>
</html>
